<div>
    <h1>Listado de productos</h1>

    <h3>Lista de productos:</h3>
    <table>
        <thead>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>code</th>
            <th>price</th>
            <th>status</th>
            <th>stock</th>
            <th>thumbnails</th>           
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>{{this.price}}</td>
            <td>
                {{#if this.status}}
                Con stock
                {{else}}
                Reposicion
                {{/if}}
            </td>
            <td>{{this.stock}}</td>
            <td>
                {{#if this.thumbnails.length}}
                <a href="{{this.thumbnails.[0]}}" target="_blank"> Imagenes</a>
                {{/if}}
            </td> 
            
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
